@use './utils';

.login-image {
  border-right: 1px solid #7f01ee;

  img {
    width: utils.rem(300);
  }
}

.login-form {
  max-width: utils.rem(289);

  .forgot-password {
    color: utils.getColor('secondary.base');
    font-size: utils.getFontSize(small);
    font-weight: utils.getFontWeight(medium);
    text-decoration: none;
    transition: color 0.3s ease-in-out;

    &:hover {
      color: utils.getColor('secondary.hover');
    }
  }
}
