@use '../utils';

.formik {
  @include utils.e(content) {
    margin-bottom: 10px;

    button {
      display: flex;
      align-items: center;
      justify-content: center;

      &:disabled {
        cursor: default;
        pointer-events: none;
      }
    }
  }

  @include utils.e(label) {
    display: block;
    width: fit-content;

    &:first-letter {
      text-transform: capitalize;
    }
  }

  @include utils.e(input) {
    border: 1px solid #ccc;
    border-radius: utils.rem(4);
    padding-inline: 0.5rem;
    margin-top: 0.5rem;
    font-size: utils.getFontSize(body1);
    height: utils.rem(34);
    width: 100%;

    &:focus {
      outline: none;
      border-color: utils.getColor('primary.base');
    }
  }
}
