@use '../utils';

.header {
  background-color: utils.getColor('primary-bg.base');
  color: utils.getColor('white.base');
  padding: 1rem;

  .logo {
    @include utils.e(img) {
      width: 50px;
    }

    @include utils.e(label) {
      font-size: utils.getHeaderFontSize(h4);
      font-weight: utils.getFontWeight(semibold);
      color: utils.getColor('white.base');
    }
  }
}
