@use '../utils';

.loading {
  .ellipsis-loading {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;

    div {
      width: 10px;
      height: 10px;
      border-radius: 100%;
      display: inline-block;
      animation: bounce 1.4s infinite ease-in-out both;
    }

    .bounce1 {
      animation-delay: -0.32s;
    }

    .bounce2 {
      animation-delay: -0.16s;
    }

    @keyframes bounce {
      0%,
      80%,
      100% {
        transform: scale(0);
      }
      40% {
        transform: scale(1);
      }
    }
  }

  .black {
    div {
      background-color: lighten(utils.getColor('black.base'), 20%);
      // #333;
    }
  }

  .white {
    div {
      background-color: lighten(utils.getColor('white.base'), 20%);
    }
  }
}
