@use '../utils';

.loading {
  .ellipsis-loading {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;

    div {
      width: 10px;
      height: 10px;
      border-radius: 100%;
      display: inline-block;
      animation: bounce 1.4s infinite ease-in-out both;
    }

    .bounce1 {
      animation-delay: -0.32s;
    }

    .bounce2 {
      animation-delay: -0.16s;
    }

    @keyframes bounce {
      0%,
      80%,
      100% {
        transform: scale(0);
      }
      40% {
        transform: scale(1);
      }
    }
  }

  .black {
    div {
      background-color: lighten(utils.getColor('black.base'), 20%);
    }
  }

  .white {
    div {
      background-color: lighten(utils.getColor('white.base'), 20%);
    }
  }

  .ripple-loading {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;

    div {
      position: absolute;
      border: 4px solid utils.getColor('primary.base');
      opacity: 1;
      border-radius: 50%;
      animation: ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
    }

    div:nth-child(2) {
      border-color: utils.getColor('secondary.base');
      animation-delay: -0.5s;
    }

    @keyframes ripple {
      0% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 0;
      }

      4.9% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 0;
      }

      5% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 1;
      }

      100% {
        top: 0px;
        left: 0px;
        width: 72px;
        height: 72px;
        opacity: 0;
      }
    }
  }
}
